/*above the dashboard*/
.carbonite-responsive-tophtml, .carbonite-responsive-bothtml {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-size: 12px;
	clear: both;
}

.carbonite-responsive-dashboard {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding-top: 2px;
	text-align: center;
	background: url('images/bg_carbon.png');
	background-repeat: repeat-x repeat-y;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 4px groove #CCC;
}

.carbonite-responsive-dash {
	width: 17%;
	min-width: 23px;
	max-width: 70px;
	height: 48px;
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
	margin-right: auto;
	position: relative;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
}

.carbonite-responsive-tripdash {
	width: 18%;
	min-width: 40px;
	max-width: 90px;
	height: 48px;
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
	margin-right: auto;
	position: relative;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
}

.carbonite-responsive-weeks_trip_dash{
	clear: both;
	margin-left: 13%;
	display: block !important;
}

.carbonite-responsive-digit {
	font-family: Sans-Serif;
	font-size: 1.7em;
	font-weight: 600;
	line-height: 1.1em;
	display: inline-block;
	vertical-align: top;
	width: auto;
	height: .7em;
	position: relative;
	margin-top: 4px;
	margin-left: 0;
	margin-right: -2px;
}

.carbonite-responsive-tripdash .carbonite-responsive-digit {
	margin-right: 0 !important;
}

.carbonite-responsive-dash_title {
	display: block;
	position: absolute;
	width: 100%;
	color: #999;
	text-align: center;
	font-size: 10px;
	margin: 0px;
	top: 31px;
	white-space: nowrap;
	overflow: hidden;
}