/*above the dashboard*/
.darth-tophtml {
	margin: 0;
	padding: 0;
}

/*above the dashboard*/
.darth-dashboard {
	height: 100px;
	width: 250px;
	margin: 0 auto;
	background: transparent;
	padding-left: 0px;
}

.darth-dash {
	height: 44px;
	float: left;
	margin-left: 2px;
	margin-right: 10px;
  padding-left: 7px;
	padding-top: 5px;
	position: relative;
	color: #333;
}

.darth-hours_dash {
	clear: left;
}

.darth-digit {
	font: bold 20pt Verdana;
	height: 34px;
	font-weight: bold;
	float: left;
	padding: 0 2px;
	text-align: center;
	position: relative;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px dotted #fff;
	background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 27%, rgba(204,204,204,1) 50%, rgba(255,255,255,1) 73%);
}

.darth-digit:nth-child(2) {
		border-left: 1px solid #fff;
}

.darth-digit:last-of-type {
		border-right: 1px solid #fff;
}

.darth-dash_title {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	display: block;
	position: absolute;
	left: -15px;
	top: 18px;
	width:28px;
	color: #fff;
	text-align: left;
	font-size: 9px;
	white-space:nowrap;
}
