/*above the dashboard*/
.jedi-tophtml {
	margin: 0;
	padding: 0;
}

/*above the dashboard*/
.jedi-dashboard {
	height: 150px;
	width: 250px;
	margin: 0 auto;
	background: transparent;
	padding-left: 0px;
}

.jedi-dash {
	height: 44px;
	float: left;
	margin-left: 2px;
	margin-right: 10px;
  padding-left: 7px;
	padding-top: 5px;
	position: relative;
	color: #333;
}

.jedi-hours_dash {
	clear: left;
}

.jedi-digit {
	font: bold 20pt Verdana;
	font-weight: bold;
	height: 34px;
	float: left;
	text-align: center;
	position: relative;
	padding: 0 2px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background: rgb(204,204,204);
	background: linear-gradient(0deg, rgba(204,204,204,0.19791666666666663) 27%, rgba(204,204,204,0.6012780112044818) 50%, rgba(204,204,204,0.20351890756302526) 73%);
	border-left: 1px dotted #aaa;
}

.jedi-digit:nth-child(2) {
		border-left: 1px solid #000;
}

.jedi-digit:last-of-type {
		border-right: 1px solid #000;
}

.jedi-dash_title {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	display: block;
	position: absolute;
	left: -15px;
	top: 16px;
	width:28px;
	white-space:nowrap;
	color: #000;
	text-align: left;
	font-size: 9px;
}

/*below the dashboard*/
.jedi-bothtml {
	margin: 0;
	padding: 0;
}
